select.form-control {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: #fff;
  background-position: right 16px top 50%;
  background-repeat: no-repeat;
  background-image: url('/frontend/images/caret.svg');
  border: 1px solid rgba(#000, .09);
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(#000, .08);
  box-sizing: border-box;
  color: $color-black;
  cursor: pointer;
  height: 35px;
  line-height: 35px;
  margin: 0 0 15px 0;
  min-height: 35px;
  padding: 0 34px 0 10px;
  width: 100%;

  &:active, &:focus {
    outline: none;
  }
}

select[multiple].form-control {
  background-image: none;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;

  option {
    padding: 4px 10px;
  }
}