.header-wrapper {
	background-color: $color-white;
	box-shadow: 0 0 3px rgba($color-black, .2);
	height: 60px;
	position: relative;
	z-index: 99999;

	&.header-transparent {
		background-color: $color-white;
		margin-bottom: -60px;
		.primary-nav-wrapper {
			.nav-link {
				color: $color-black;
				&:hover {
					color: $color-blue;
				}
				&:before {
					background-color: transparent;
				}
			}
		}
	}
}
.header-toggle {
	&.toggle {
		span {
			background-color: $color-black;
		}
	}
	
}
.header-form-search {
	float: left;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 8px 0;
	.form-control {
		width: 500px;
		vertical-align: middle;
		border-radius: 0;
		height: 45px;
		font-size: 13px;
		border-width: 2px;
		margin-right: 0!important;
	}
	.btn {
		line-height: 45px;
		border-radius: 0;
	}
}
.header-logo {
	float: left;
	line-height: 55px;
	margin: 0 20px 0 0;

	img {
		margin: 0 10px 0 0;
		max-height: 50px;
		vertical-align: middle;
		width: auto;
	}
	
	svg {
		width: 34px;
	}

	svg {
		margin: 0 10px 0 0;
		max-height: 34px;
		vertical-align: middle;		
		
		#logo-background {
			fill: $color-primary;
		}

		#Triangle-4 {
			fill: $color-primary;
		}
	}

	a {
		text-decoration: none;
	}

	&.header-logo-white {
		svg {
			#logo-background {
				fill: darken($color-black, 10%);
			}

			#Triangle-4 {
				fill: darken($color-black, 10%);
			}
		}
	}
}

.header-title {
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 2px;
	line-height: 1;
	text-transform: uppercase;
	vertical-align: -1px;

	&:hover {
		color: $color-black;
	}

	.header-light & {
		color: #fff;
	}
}

.header-actions {
	float: right;
	margin: 12px 20px 0 0;

	@include media-breakpoint-down(sm) {
		display: none;
	}
	
	.nav-link {
		background-color: $color-primary;
		border-radius: 2px;
		color: #fff;
		font-size: 14px;
		line-height: 34px;
		padding: 0 20px;
		&:hover {
			background-color: $color-blue-hover;
		}

		.fa {			
			font-size: 12px;
			margin: 0 8px 0 -6px;
			opacity: .7;			
		}

		span {
			vertical-align: middle;
		}

		&:active, &:focus {
			box-shadow: none;
			outline: none;
		}
	}

	&.header-action-black {
		.nav-link {
			background-color: $color-black;
		}
	}
}

.header-search {
	float: right;
	margin: 12px 15px 0 0;
	min-width: 260px;
}