.hero-image-wrapper {	
	height: 660px;
	margin: 0 0 80px 0;
	overflow: hidden;
	position: relative;
}

.hero-image-src {
	background-size: cover;
	background-position: center center;	
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 8s ease;

	.loaded & {
		transform: scale(1.02);
	}
}

.hero-image-content {
	left: 0;
	position: absolute;
	right: 0;
	top: 40%;
	transform: translateY(-50%);

	h1 {
		background-color: rgba($color-black, .75);
		color: #fff;
		clear: both;
		display: inline;
		float: left;
		font-size: 32px;
		font-weight: 300;
		letter-spacing: 1px;
		line-height: 1.3;
		margin: 0;
		padding: 16px 20px;
	}

	h2 {
		background-color: $color-primary;
		color: #fff;
		clear: both;
		float: left;
		line-height: 1;
		margin: 0px 0 0 0;
		padding: 16px 20px;
	}

	p {		
		clear: both;
		color: #fff;
		float: left;
		font-size: 17px;
		font-weight: 400;
		margin: 7px 0 50px 0;
	}

	sup {
		color: rgba(#fff, .8);
		font-size: 14px;
		margin: 0 10px 0 0;
	}

	.btn {
		clear: both;
		float: left;
		font-size: 14px;
		margin: 0;
		padding: 5px 25px;
	}
}

.hero-image {
	background-color: rgba($color-black, .4);
	bottom: 0;
	left: 0;	
	position: absolute;
	right: 0;
	top: 0;
}

h1.hero-image-content-title-simple {
	background-color: transparent;	
	clear: both;
	float: left;
	font-size: 40px;
	font-weight: 400;
	padding: 0;
}

.hero-image-filter-bottom {
	background-color: rgba(#3F4045, .7);
	bottom: 0;
	left: 0;
	padding: 50px 0 35px 0;
	position: absolute;
	right: 0;
}

.hero-image-categories {
	bottom: 30px;
	left: 0;
	position: absolute;
	text-align: center;
	right: 0;
}

.hero-image-category {
	background-color: rgba(#fff, .16);
	border-radius: 2px;
	display: inline-block;
	margin: 0 7px;
	padding: 16px 22px;
	transition: all .2s ease;
	width: 100px;	

	.fa {
		color: #fff;
		font-size: 26px;
	}

	strong {
		color: #fff;
		display: block;
		font-size: 12px;
		margin: 10px 0 0 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&:hover {
		background-color: rgba(#fff, .2);
		text-decoration: none;
	}
}