.listing-hero {
	background-color: #fff;
	padding: 80px 0 20px 0;
	position: relative;

	h1 {
		font-size: 22px;
		margin: 0 0 6px 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		.fa {
			background-color: $color-green;
			border-radius: 50%;
			color: #fff;
			display: inline-block;
			font-size: 12px;
			height: 22px;
			line-height: 22px;
			margin: 0 0 0 13px;
			text-align: center;
			vertical-align: middle;
			width: 22px;
		}
	}

	address {
		color: lighten($color-black, 30%);
		font-size: 13px;
		margin: 0;
	}
	.pricing-price {
		padding: 0;
		overflow: hidden;
		text-align: left;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin: 0;
		.pricing-value {
			font-size: 25px;
			font-weight: 600;
		}
		.pricing-currency {
			color: rgba(0, 173, 121, 0.8);
			font-weight: 600;
			vertical-align: 10px;
			font-size: 16px;
		}
	}
	h4 {
		font-size: 14px;
		margin: 0 0 6px 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.breadcrumb {
		margin: 0 0 -10px 0;
	} 

	.social {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);

		@include media-breakpoint-down(md) {
			margin: 30px 0;
			position: relative;
			right: auto;
			transform: none;
		}
	}
}

.listing-hero-image {
	background-color: rgba(#000, .04);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
	height: 80px;
	margin: 0 16px 0 0;
	width: 105px;
}