.map-filter-wrapper, .hero-image-filter-wrapper {
	left: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
}

.map-filter, .hero-image-filter {		
	float: right;
	pointer-events: all;
	width: 320px;
	
	.form-group {
		background-color: $color-primary;			
		background-image: linear-gradient(to bottom, rgba($color-black, .06), transparent 10px);
		border-bottom: 1px solid rgba(#fff, .3);
		margin: 0;
	}

	.form-control {				
		background-color: transparent;
		border: 0;
		border-radius: 0;
		box-shadow: none;
		color: #fff;
		font-size: 15px;
		height: 45px;
		line-height: 1.3;	
		margin: 0;			
		padding: 12px 20px;
	}

	select.form-control {
		background-image: url('/frontend/images/caret-light.svg');
	}

	.form-control::-webkit-input-placeholder {
		color: rgba(#fff, .8);
	}

	.btn {
		background-color: $color-primary;
		border-radius: 2px;
		border: 0;
		color: #fff;
		float: right;
		font-size: 15px;
		line-height: 1;
		margin: 12px 0 0 0;
		padding: 12px 20px;
	}
}

.map-filter-horizontal-wrapper {
	background-color: rgba($color-primary, .95);
	bottom: 0;
	left: 0;
	padding: 25px 0 10px 0;
	position: absolute;	
	right: 0;
	z-index: 9999;

	.form-group {
		.form-control {
			margin: 0;
		}
	}
}