.posts-small {
  margin: 80px 0;
}

.post-small {
  margin-bottom: 30px;
  
  h3 {
    color: $color-black;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 5px 0;

    a {
      color: $color-black;
      text-decoration: none;
    }
  }

  p {
    margin: 0 0 10px 0;
  }
}

.post-small-image {
  img {
    display: block;
    height: auto;
    margin: 0 0 15px 0;
    max-width: 100%;
  }
}

.post-small-attribute {
  color: lighten($color-black, 50%);
  font-size: 12px;
  margin: 0 0 7px 0;
}

.post-detail {
  margin: 0 0 80px 0;  
}

.post {
  border-bottom: 1px solid rgba(#000, .06);
  margin: 0 0 50px 0;  
  padding: 0 0 50px 0;
  position: relative;

  .posts-grid & {
    margin-left: 0;
  }

  &:hover {
    .post-image {
      &:after, &:before {
        opacity: 1;
      }
    }

    .post-author {
      bottom: 25px; 
    }

    .post-title {
      a {
        color: $color-primary;
      }
    }

    .post-author-image {
      background-color: $color-primary;
    }
  }
}

.post-image {  
  margin: 0 0 30px 0;
  position: relative;

  img {
    display: block;
    height: auto;
    width: 100%;
  }
}

.post-image-link {    
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;   
  border-radius: 2px 2px 0 0;
  bottom: 0;    
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  &:after {
    background-image: linear-gradient(to top, rgba(#000, .5), transparent 100px);
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }
}

.post-author {
  bottom: 20px;
  display: block;
  left: 0px;
  position: absolute;
  transition: all .15s linear;
  z-index: 10;

  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.post-author-image {
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  height: 34px;
  margin: 0 10px 0 0;
  position: relative;
  transition: background-color .15s linear;
  vertical-align: middle;
  width: 34px;

  a {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    bottom: 2px;
    display: block;
    left: 2px;
    position: absolute;
    right: 2px;
    top: 2px;   
  }

  &:hover {
    background-color: $color-primary;
  }
}

.post-author-name {
  color: #fff;
  font-weight: bold;
  vertical-align: middle;
}

.post-title {
  display: block;
  margin: 0 0 20px 0; 

  h2 {
    color: $color-primary;
    font-size: 26px;
    font-weight: 300;    
    line-height: 1.2;
    margin: 0;
    overflow: hidden;
    padding: 0;         
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  a {   
    color: $color-primary;    

    &:hover {
      text-decoration: none;
    }
  }
}

.post-meta {
  @extend .clearfix;

  border-bottom: 1px solid rgba(#000, .04);
  border-top: 1px solid rgba(#000, .04);
  color: lighten($color-black, 30%);
  font-size: 12px;
  margin: 0 0 20px 0;
  padding: 7px 0;

  .fa {
    color: darken($color-gray, 20%); 
    margin: 0 10px 0 0;
  }

  .post-meta-item {
    border-right: 1px solid rgba(#000, .04);
    float: left;
    margin: 0 10px 0 0;
    padding: 2px 10px 2px 0;

    a {
      color: lighten($color-black, 30%);

      &:hover {
        text-decoration: none;
      }
    }

    &:last-child {
      border-right: 0;
    }
  }
}

.post-content {
  p {
    margin: 0;
  }
}

.post-read-more {
  @extend .clearfix;
  margin: 10px 0 0 0;

  .btn {
    float: right;

    .fa {
      font-size: 9px;
      margin: 0 0 0 10px;
    }
  }
}

.post-date {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba($color-black, .12);
  left: -70px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 46px;

  span, strong {
    display: block;
  }

  strong {
    background-color: #fff;
    border-radius: 2px 2px 0 0;
    color: lighten($color-black, 30%);
    font-weight: 600;
    padding: 5px 0;
  }

  span {
    background-color: $color-gray;
    border-radius: 0 0 2px 2px; 
    color: lighten($color-black, 30%);
    font-size: .85em;
    padding: 4px 0;
  } 
}

//quicklands
.posting-header-title {
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  margin: 60px 0 20px 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: 10;
  h1 {
    color: #333333;
    font-size: 20px;
    font-weight: 400;
    float: left;
    line-height: 60px;
    margin: 0;
    padding: 0;
  }
  a {
    color: #32a9ed;
    font-size: 20px;
    font-weight: 400;
    float: left;
    line-height: 60px;
    margin: 0;
    padding: 0 5px;
  }
}
.location-posting {
  .listing-detail-section {
    width: 100%;
    display: block;
  }
}
