.project_details_builder {
    .filter {
        &.filter-primary {
            background-color: white;
        }
    }
    .nav-tabs .nav-item .nav-link.active {
        background-color: transparent!important;
        color: black!important;
        font-weight: 600;
    }
}