/* home page tabs */
#main-search-tabs{
	width:950px;
  margin:0 auto;
  margin-top:2%;
  margin-bottom:2%;
  border-radius:3px;
  text-align: left;
}

#main-search-tabs {
  input{
    display:none;
  }
}

#main-search-tabs {
  label{
    background: none;
    display:inline-block;
    margin-right:0;
    border-radius:0;
    padding:14px 20px;
    font-family:Arial;
    font-size:16px;
    font-weight:700;
    color:$color-white;
    cursor:pointer;
    text-align: center;
    margin-bottom: 0;
  }
}

#main-search-tabs {
  label {
    &:hover{
      background:rgba(0, 0, 0, 0.5);
      color:$color-white;
    }
  }
}
#main-search-tabs {
  .search_tab {
    min-height:auto;
    padding:0;
    display: none;
  }
}


#main-search-tabs #toggle-tab1:checked ~ label[for="toggle-tab1"],#toggle-tab2:checked ~ label[for="toggle-tab2"],#toggle-tab3:checked ~ label[for="toggle-tab3"],#toggle-tab4:checked ~ label[for="toggle-tab4"]{
  background:rgba(152, 152, 152, 0.8);
  margin-bottom:0;
  border-radius: 3px;
  color:#FFFFFF;
  cursor:pointer;
  border-radius: 0;
}

#main-search-tabs #toggle-tab1:checked ~ #tab1,#toggle-tab2:checked ~ #tab2,#toggle-tab3:checked ~ #tab3,#toggle-tab4:checked ~ #tab4{
  display:block;
}

.search_tab {
  input {
    display: block!important;
  }
}
.search_tab .col-sm-6 {
  padding-right: 0;
}
.search_tab .col-sm-2 {
  padding-left: 0;
  padding-right: 0;
}
.search-property {
  button {
    display: inline-block;
    clear: none!important;
  }
  .alert-info,
  .alert-success {
    margin: 0 0.04rem 0;
    padding: 8px 25px;
    border: 0;
    border-radius: 0;
  }
  .alert-info {
    &:hover {
      background-color: $color-blue-hover;
    }
  }
}

.ql-search-order {
  display: flex;
  .ql-search-field {
    margin-right: 0.04rem;
    .input-group {
      width: 450px;
      span {
        border-radius: 0;
        height: 50px;
      }
      input {
        height: 50px;
      }
    }
    .form-group {
      width: 200px;
      .form-control {
        border: 0;
        &:focus {
          border: 0;
        }
      }
      select {
        border-radius: 0;
        height: 50px;
      }
    }
  }
}

.sample {
  color: $color-lightblue;
  font-size: 16px;
}