$color-primary: #32A9ED !default;

$color-black: #323232 !default;
$color-gray: #eeeeee !default;
$color-cool-gray: #909cab !default;
$color-modern-gray: #b4b5b5 !default;
$color-red: #F74949 !default;
$color-blue: #32A9ED !default;
$color-green: #14AD6F !default;
$color-purple: #486FE4 !default;
$color-orange: #FDA988 !default;
$color-gold: #d1aa78 !default;   
$color-turquoise: #32A9ED !default;
$color-white: #FFFFFF;
$color-black: #000000;
$color-darkgray: #39393d;
$color-logo-blue: #37c3c7!default;

$color-background: #f4f4f4 !default;
$color-navigation-background: rgba(#fff, .9);
$side-size: 320px !default;

$font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif !default;

$marker-size: 42 !default;
$marker-gap: 8 !default;

$color-lightblue: lightblue;
$color-blue-hover: #0088d6;
